@model IEnumerable<HypestoreFinal.Models.Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categories.Category_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Mark_Up)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.suppliers.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReOrder_Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityInStock)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.QTY_Received)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ReOrder_Percent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Med_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Batch_Num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Batch_Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty_Per_batch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Best_Before_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Med_Code)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.isDiscontinued)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Discontinue_Reason)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Discontinue_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Modified)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categories.Category_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.suppliers.Name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Mark_Up)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ReOrder_Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityInStock)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.QTY_Received)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ReOrder_Percent)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Image)*@
            @if (item.Image != null)
            {
                var base64 = Convert.ToBase64String(item.Image);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                <img src="@imgSrc" width="50" height="60" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Med_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Batch_Num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Batch_Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty_Per_batch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Best_Before_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Med_Code)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.isDiscontinued)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Discontinue_Reason)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Discontinue_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Modified)
        </td>*@
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) |*@
            @Html.ActionLink("Details", "Details", new { id = item.ItemCode }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ItemCode })
        </td>
    </tr>
}

</table>
