@model HypestoreFinal.Models.Order

@{
    ViewBag.Title = "Order Details";
}

<h2 class="title text-center">@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-5">
        <h4>Order Details</h4>
        <table class="table">
            <tr>
                <th width="140px">Order ID</th>
                <th>
                    @Html.DisplayFor(x => x.Order_ID)
                </th>
            </tr>
            <tr>
                <th>Date Requested</th>
                <th>
                    @Model.date_created.ToLongDateString()
                </th>
            </tr>
            <tr>
                <th>Shipping</th>
                <th>
                    @if (Model.shipped)
                    {
                        <i class="fa fa-check"></i>
                    }
                    else
                    {
                        <i class="fa fa-ellipsis-h"></i>
                    }
                </th>
            </tr>
            <tr>
                <th>Status</th>
                <th>
                    @Html.DisplayFor(x => x.status)
                </th>
            </tr>
        </table>
    </div>

   
</div>
<div class="row">
    <h4>Items in this Order</h4>
    <table class="table">
        <tr style="background:#f3f3f3">
            <th>
                Name
            </th>

            <th>
                Qty
            </th>
            <th>
                Price
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in (List<MontclairModels.OrderItemEntity>) ViewBag.Order_Items)
            {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Item.Name)
                </th>

                <th>
                    @Html.DisplayFor(modelItem => item.quantity)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.price)
                </th>
                <th>
                    @if (Model.status == "Delivered")
                    {
                        <a href="@Url.Action("Log_New","Exchange_n_Returns", new { id= Model.Order_ID,item_ID =item.item_id })" class="btn btn-default">
                            Return Item
                        </a>
                    }                   
                </th>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <th>@ViewBag.Total.ToString("R 0.00")</th>
        </tr>
    </table>
    <div class="row text-center">
        @if (User.IsInRole("Customer"))
        {
            <a class="btn btn-default" href="@Url.Action("Order_History", "Orders")">
                <i class="fa fa-angle-left"></i>
                Back to List
            </a>
        }
        else
        {
            <a class="btn btn-default" href="@Url.Action("Customer_Orders", "Orders")">
                <i class="fa fa-angle-left"></i>
                Back to List
            </a>
        }
    </div>
</div>


